.header {
  width: 100%;
  height: 100%;
}

.header-avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  background-color: turquoise;
}

.header-name {
  font-size: 1.5em;
  color: whitesmoke;
  vertical-align: top;
  margin-left: 15px;
}
